In [21]:
import pandas as pd
import numpy as np

In [22]:
data = pd.read_csv('learningSet.csv')

C:\Users\migue\AppData\Local\Temp\ipykernel_58864\3673836359.py:1: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('learningSet.csv')

In [23]:
categorical = data.select_dtypes(np.object_)

In [24]:
for col in categorical.columns:
    if categorical[col].isna().sum() > 0:
        print(col)

GEOCODE2

In [25]:
drop_list = []

In [26]:
categorical.columns

Index(['OSOURCE', 'STATE', 'ZIP', 'MAILCODE', 'PVASTATE', 'NOEXCH', 'RECINHSE',
       'RECP3', 'RECPGVG', 'RECSWEEP', 'MDMAUD', 'DOMAIN', 'CLUSTER',
       'AGEFLAG', 'HOMEOWNR', 'CHILD03', 'CHILD07', 'CHILD12', 'CHILD18',
       'GENDER', 'DATASRCE', 'SOLP3', 'SOLIH', 'MAJOR', 'GEOCODE', 'COLLECT1',
       'VETERANS', 'BIBLE', 'CATLG', 'HOMEE', 'PETS', 'CDPLAY', 'STEREO',
       'PCOWNERS', 'PHOTO', 'CRAFTS', 'FISHER', 'GARDENIN', 'BOATS', 'WALKER',
       'KIDSTUFF', 'CARDS', 'PLATES', 'LIFESRC', 'PEPSTRFL', 'RFA_2', 'RFA_3',
       'RFA_4', 'RFA_5', 'RFA_6', 'RFA_7', 'RFA_8', 'RFA_9', 'RFA_10',
       'RFA_11', 'RFA_12', 'RFA_13', 'RFA_14', 'RFA_15', 'RFA_16', 'RFA_17',
       'RFA_18', 'RFA_19', 'RFA_20', 'RFA_21', 'RFA_22', 'RFA_23', 'RFA_24',
       'RFA_2R', 'RFA_2A', 'MDMAUD_R', 'MDMAUD_F', 'MDMAUD_A', 'GEOCODE2'],
      dtype='object')

In [27]:
categorical = categorical.drop(['OSOURCE', 'ZIP'], axis=1)

In [30]:
nulls_df = pd.DataFrame(categorical.isna().sum()/len(data))
nulls_df.columns = ['nulls_percentage']

In [31]:
nulls_df[nulls_df['nulls_percentage'] > .15].sort_values(by=['nulls_percentage'], ascending=False)

Empty DataFrame
Columns: [nulls_percentage]
Index: []

In [33]:
print(categorical['GENDER'].value_counts())
categorical['GENDER'] = categorical['GENDER'].fillna('F')

F    51277
M    39094
      2957
U     1715
J      365
C        2
A        2
Name: GENDER, dtype: int64

In [34]:
categorical['GENDER'] = categorical['GENDER'].apply(lambda x: 'O' if x not in ['M', 'F', 'O'] else x)

In [35]:
print(categorical['GENDER'].value_counts())

F    51277
M    39094
O     5041
Name: GENDER, dtype: int64